services:
  backend:
    build: ./Backend
    ports:
      - "8001:8001"
    environment:
      - PORT=8001
      - CLIENT_URL=${CLIENT_URL:-http://localhost:5173,http://localhost:5174}
      - MONGODB_URI=${MONGODB_URI:-mongodb+srv://saharshkhalokar14:saharsh123@cluster0.by0ldgz.mongodb.net/}
      - JWT_SECRET=${JWT_SECRET:-saharsh}
      - CLOUDINARY_URL=${CLOUDINARY_URL:-cloudinary://466589615692773:8OStB4iBZ9u3LVcLeX5K1ZBnQKM@dijj9foey}
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=${VITE_API_URL:-http://localhost:8001/api}
        - VITE_SOCKET_URL=${VITE_SOCKET_URL:-http://localhost:8001}
    ports:
      - "5173:80"
    networks:
      - app-network
    depends_on:
      - backend

  admin:
    build:
      context: ./Admin
      args:
        - VITE_API_URL=${VITE_API_URL:-http://localhost:8001/api}
    ports:
      - "5174:80"
    networks:
      - app-network
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge
